{% extends 'movies/base.html' %}

{% block title %}
    Catálogo de Películas - Inicio
{% endblock %}

{% block content %}
    <div class="col-md-8 mx-auto"> 
        <div class="list-group">
            
            {% for movie in movies_list %}
                
                <a href="{% url 'movie_detail' movie.id %}" class="list-group-item list-group-item-action list-group-item-dark">
                    {{ movie.title }} - {{ movie.publication_year }}
                </a>

            {% empty %}
                <div class="alert alert-info" role="alert">
                    No hay películas en el catálogo.
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}