{% extends 'movies/base.html' %}

{% block title %}
    {{ movie.title }}
{% endblock %}

{% block content %}
    <div class="col-md-8 mx-auto"> 
        <h1 class="display-5 fw-bold">{{ movie.title }}</h1>

        <hr>

        <div class="details">
            <p class="fs-5">
                <strong>Año de publicación:</strong> {{ movie.publication_year }}
            </p>
            <p class="fs-5">
                <strong>Director:</strong> {{ movie.director }}
            </p>
            <p class="fs-5">
                <strong>Género:</strong> {{ movie.genre }}
            </p>
            <p class="fs-5">
                <strong>Sinopsis:</strong>
                <br>
                {{ movie.synopsis }}
            </p>
        </div>
        
       <a href="{% url 'movie_list' %}" class="btn btn-primary mt-3">
    &larr; Volver al listado
</a>

    </div>
{% endblock %}